/* line 45, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'bariol';
  font-size: 1em;
  line-height: 1.5em;
  background: #fff;
}

/* line 56, ../sass/main.scss */
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3000;
  background: gold;
}

/* line 64, ../sass/main.scss */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 71, ../sass/main.scss */
header, .content, footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 48px;
}

/* line 77, ../sass/main.scss */
header {
  width: 100%;
  height: 96px;
  background: dodgerblue;
  color: #fff;
  position: relative;
}
/* line 85, ../sass/main.scss */
header ul {
  width: 100%;
  height: 100%;
}
/* line 91, ../sass/main.scss */
header ul li {
  float: right;
  font-size: 1.125em;
}
/* line 97, ../sass/main.scss */
header ul li.logo {
  float: left;
  width: 96px;
  height: 100%;
}
/* line 104, ../sass/main.scss */
header ul li h1 {
  font-size: 2em;
  width: 100%;
  height: 100%;
}
/* line 110, ../sass/main.scss */
header ul li h1 a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 32px 0 0 0;
}
/* line 121, ../sass/main.scss */
header ul li.profil {
  margin-top: 32px;
  padding-right: 36px;
  position: relative;
}
/* line 127, ../sass/main.scss */
header ul li.profil:hover:after {
  background-image: url(../img/croix-blue.png);
  background-color: #fff;
}
/* line 133, ../sass/main.scss */
header ul li.profil:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/croix.png) no-repeat -1px 0;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 0;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  cursor: pointer;
}
/* line 155, ../sass/main.scss */
header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #0077ea;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 168, ../sass/main.scss */
.content {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 48px 48px 48px 92px;
  overflow: hidden;
  position: relative;
  left: 0;
}
/* line 178, ../sass/main.scss */
.content ul {
  width: 32px;
  height: 384px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  position: relative;
  margin-left: 25px;
}
/* line 187, ../sass/main.scss */
.content ul:first-child {
  margin-left: 0;
}
/* line 192, ../sass/main.scss */
.content ul li {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border: 2px solid #cccccc;
  cursor: pointer;
  margin: 18.28571428571429px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
/* line 206, ../sass/main.scss */
.content ul li:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 50%;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
/* line 220, ../sass/main.scss */
.content ul li:first-child {
  margin-top: 0;
}
/* line 225, ../sass/main.scss */
.content ul li:last-child {
  margin-bottom: 0;
}
/* line 230, ../sass/main.scss */
.content ul li.jaune {
  border: 2px solid #ccac00;
  background: gold;
}
/* line 234, ../sass/main.scss */
.content ul li.orange {
  border: 2px solid #cc6100;
  background: #ff7900;
}
/* line 238, ../sass/main.scss */
.content ul li.rouge {
  border: 2px solid #ad102f;
  background: crimson;
}
/* line 242, ../sass/main.scss */
.content ul li.mauve {
  border: 2px solid #b03cab;
  background: #c659c2;
}
/* line 246, ../sass/main.scss */
.content ul li.bleu {
  border: 2px solid #0077ea;
  background: dodgerblue;
}
/* line 250, ../sass/main.scss */
.content ul li.turquoise {
  border: 2px solid #0e908e;
  background: #12bfbc;
}
/* line 254, ../sass/main.scss */
.content ul li.sky {
  border: 2px solid #4ddab8;
  background: #77e3c9;
}
/* line 258, ../sass/main.scss */
.content ul li.vert {
  border: 2px solid #58a400;
  background: #73d700;
}
/* line 263, ../sass/main.scss */
.content ul li.effect:after {
  background: rgba(0, 0, 0, 0.2);
}

/* line 271, ../sass/main.scss */
footer {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-top: 24px;
  border-top: 2px solid #cccccc;
}
/* line 279, ../sass/main.scss */
footer #play {
  display: block;
  width: 50px;
  height: 50px;
  background: yellowgreen;
  float: left;
}
/* line 288, ../sass/main.scss */
footer #convolver {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  float: left;
  margin-left: 100px;
  border: 2px solid #ccc;
  cursor: pointer;
}
/* line 301, ../sass/main.scss */
footer #convolver:hover, footer #convolver.active {
  border: 2px solid #b3b3b3;
  background: #cccccc;
}
/* line 308, ../sass/main.scss */
footer ul {
  float: right;
  width: 80%;
}
/* line 314, ../sass/main.scss */
footer ul li {
  float: left;
  display: block;
  width: 12.5%;
  font-size: 1.125em;
  text-align: center;
  padding-top: 60px;
  position: relative;
  cursor: pointer;
}
/* line 325, ../sass/main.scss */
footer ul li.un.active span, footer ul li.un:hover span {
  border: 2px solid #ccac00;
  background: gold;
}
/* line 331, ../sass/main.scss */
footer ul li.deux.active span, footer ul li.deux:hover span {
  border: 2px solid #cc6100;
  background: #ff7900;
}
/* line 337, ../sass/main.scss */
footer ul li.trois.active span, footer ul li.trois:hover span {
  border: 2px solid #ad102f;
  background: crimson;
}
/* line 343, ../sass/main.scss */
footer ul li.quat.active span, footer ul li.quat:hover span {
  border: 2px solid #b03cab;
  background: #c659c2;
}
/* line 349, ../sass/main.scss */
footer ul li.cinq.active span, footer ul li.cinq:hover span {
  border: 2px solid #0077ea;
  background: dodgerblue;
}
/* line 355, ../sass/main.scss */
footer ul li.six.active span, footer ul li.six:hover span {
  border: 2px solid #0e908e;
  background: #12bfbc;
}
/* line 361, ../sass/main.scss */
footer ul li.sept.active span, footer ul li.sept:hover span {
  border: 2px solid #4ddab8;
  background: #77e3c9;
}
/* line 367, ../sass/main.scss */
footer ul li.huit.active span, footer ul li.huit:hover span {
  border: 2px solid #58a400;
  background: #73d700;
}
/* line 373, ../sass/main.scss */
footer ul li span {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  border: 2px solid gold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
/* line 390, ../sass/main.scss */
footer ul li.un {
  color: gold;
}
/* line 396, ../sass/main.scss */
footer ul li.deux {
  color: #FF7900;
}
/* line 400, ../sass/main.scss */
footer ul li.deux span {
  border: 2px solid #ff7900;
}
/* line 29, ../sass/main.scss */
footer ul li.deux span:hover {
  border-color: #cc6100;
  background: #ff7900;
}
/* line 406, ../sass/main.scss */
footer ul li.trois {
  color: Crimson;
}
/* line 410, ../sass/main.scss */
footer ul li.trois span {
  border: 2px solid crimson;
}
/* line 29, ../sass/main.scss */
footer ul li.trois span:hover {
  border-color: #ad102f;
  background: crimson;
}
/* line 415, ../sass/main.scss */
footer ul li.quat {
  color: #C659C2;
}
/* line 419, ../sass/main.scss */
footer ul li.quat span {
  border: 2px solid #c659c2;
}
/* line 29, ../sass/main.scss */
footer ul li.quat span:hover {
  border-color: #b03cab;
  background: #c659c2;
}
/* line 424, ../sass/main.scss */
footer ul li.cinq {
  color: #1E90FF;
}
/* line 428, ../sass/main.scss */
footer ul li.cinq span {
  border: 2px solid dodgerblue;
}
/* line 29, ../sass/main.scss */
footer ul li.cinq span:hover {
  border-color: #0077ea;
  background: dodgerblue;
}
/* line 433, ../sass/main.scss */
footer ul li.six {
  color: #12BFBC;
}
/* line 437, ../sass/main.scss */
footer ul li.six span {
  border: 2px solid #12bfbc;
}
/* line 29, ../sass/main.scss */
footer ul li.six span:hover {
  border-color: #0e908e;
  background: #12bfbc;
}
/* line 442, ../sass/main.scss */
footer ul li.sept {
  color: #77E3C9;
}
/* line 446, ../sass/main.scss */
footer ul li.sept span {
  border: 2px solid #77e3c9;
}
/* line 29, ../sass/main.scss */
footer ul li.sept span:hover {
  border-color: #4ddab8;
  background: #77e3c9;
}
/* line 451, ../sass/main.scss */
footer ul li.huit {
  color: #73D700;
}
/* line 455, ../sass/main.scss */
footer ul li.huit span {
  border: 2px solid #73d700;
}
/* line 29, ../sass/main.scss */
footer ul li.huit span:hover {
  border-color: #58a400;
  background: #73d700;
}
